        <footer ng-controller="footerCtrl">
            <div class="row" ng-repeat="c in contactoArray">
                <div class="col-md-4 contact">
                    <i class="fa fa-phone-square" aria-hidden="true"></i> {{c.telefono}}<br> 
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{c.ubicacion}}<br> 
                    <a href="mailto:{{c.email}}" style="text-decoration: none; color: #fff"><i class="fa fa-envelope" aria-hidden="true"></i> {{c.email}}</a>
                </div>
                <div class="col-md-4 about">
                    <h5>Acerca de septimoinning</h5>
                    <p>{{c.acerca}}</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </footer>