
    <header ng-controller="headerCtrl">
    	<div class="header">        		
    		<div class="container">
                
                <!-- Logo start -->
                <div class="col-xs-6 col-md-4 logo">
                    <div class="row">
                        <a href="index.php"><img src="php/visualizar_archivo.php?tabla=banners&id={{bannersArray[0].id}}" width="200px" height="70px"></a>
                    </div>
                </div>
                    <!-- Logo end -->
                    <!-- Start custom image -->
                <div class="col-xs-12 col-md-8 image-header">
                    <div class="row">
                        <!-- AQUI DEBE DE IR UNA IMAGEN PERSONALIZADA, EN EL ADMIN COMENTA QUE DEBE SER 50PX DE ALTO -->
                    </div>
                </div>
                <!-- End custom image -->
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top main-menu">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li ng-repeat="c in categoriasArray"><a href="news.php?c={{c.id}}">{{c.nombre}}</a></li>
                      </ul>
                      
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </div>
    </header>