

<form ng-controller="autocompleteController" action="buscar.php" method="get">
    <!--Selected nombre: {{selectedCountries}}-->
    <div class="input-group">
        <input type="text" ng-model="selectedCountries" placeholder="Buscar publicaciones, mensajes, eventos..." typeahead="c as c.titulo for c in countries | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' typeahead-template-url="customTemplate.html" class="form-control" name ="query" required>
        <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
	</div>
</form>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
      <i></i>
  </a>
</script>