/* SEPTIMOINNING CSS STYLESHEET 		*/
/* AUTHOR: Mauricio González Gordillo; 	*/
/* EMAIL: mauricioandres288@gmail.com 	*/
/* Version: 1 DATE: 4 Nov 2016 			*/
/* ACTUAL VERSION: 1 					*/

/****************************************/
/*				GLOSARY					*/
/****************************************/

/*	1.- BODY AND HEADER		*/
/*	2.- BOOTSTRAP OVERIDE	*/
/*	1.- NEWS AND CONTEN		*/

/***** 1.- BODY AND HEADER *******/
@font-face {
    font-family: 'norwesterregular';
    src: url('../fonts/norwester-webfont.woff2') format('woff2'),
         url('../fonts/fonts/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #3F444A !important;
}
p {
	background-color: none !important;
}
h2 {
	font-family: "norwesterregular";
}

.header {
	height: 70px;
	width: 100%;
	/* You can set any image here */
	/*background-image: url();*/
	background-color: #000;
	position: static;
}
.logo {
	float: left;
}
.image-header {
	float: right;
	height: 50px;
}
.main-menu {
	height: 50px;
	background-color: #1869BA;
	background-image: none;
	border-radius: 0px;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #E7BF3A;	
}

.column-photo {
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-width: 90px;
}

/***** 2.- BOOTSTRAP OVVERIDE *******/
.navbar{
	border-top: none;
	border-right: none;
	border-left: none;
}
.row{
	margin: 0px;
}
.navbar-default .navbar-nav > li > a {
	height: 50px;
	color: #fff;
	box-shadow: none;
	text-shadow: none;
	background-color: #1869BA;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #E7BF3A;
	font-size: 12px;
	font-family: "norwesterregular";
}
.navbar-default .navbar-nav > li > a:hover {
	height: 50px;
	color: #fff;
	background-color: #3F7BBF;
	border-radius: 0px;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #E7BF3A;	
}
.navbar .nav > .active > a {
	height: 50px;
    background:none;
    background-color: #3F7BBF;
    color: #fff;
    border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #E7BF3A;	
}

.navbar .nav > .active > a:hover {
	color: #fff;
	background-color: #3F7BBF;
	border-radius: 0px;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #E7BF3A;	
}
.navbar-toggle {
	margin-top: -45px;
}

.center-block{
    text-align: center;
}

.list-group-item {
	border-radius: none !important;
	cursor: pointer;
}

/***** 3.- NEWS AND CONTENT *******/
.newest-title h2 {
	margin-top: -15px;
}
.news-section {
	background-color: #F1EFEF;
	height: auto;
	margin-top: -20px;
}
.black-title {
    margin-top: 0px;
    height: 60px;
    width:112%;
    margin-left: -15px;
    background-color: #1869BA;
    text-align: center;
    line-height: 60px;
    font-family: "norwesterregular";
}
.black-title > h3 {
    vertical-align: middle;
}
.white-title {
    margin-top: 0px;
    height: 60px;
    width: 106%;
    margin-left: -15px;
    background-color: #3F444A; 
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-family: "norwesterregular";
}
.white-title > h3 {
    vertical-align: middle;
}
.news-content {
    margin-top: 25px;
    display: block;
}
.news-content img {
	margin:auto;
	background-color: #F1EFEF;
}

.all-news-image{
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width: 100%;
}
.news-link {
	text-align: right;
	margin: 10px;
}
.news-link a:hover {
	color: #E7BF3A;
	text-decoration: none;
}
.spot-horizontal {
	height: 90px;
	margin-top: 10px;
	background-color: #F1EFEF;
	padding-right: 0px;
	padding-left: 0px;
}
.spot-horizontal img {
	float: left;
	display: block;
}
.logos-horizontal {
	height: 50px;
	background-color: #3F444A;
}

.positions , .leaders , .diamond-girls{
	height: 50px;
	background-color: #4A90E2;
	text-align: center;
	font-family: "norwesterregular";
}
.leaders {
	color: #fff;
	background-color: #3F444A;
}
.diamond-girls {
	background-color: #55B5A4;
}
.positions > h3 , .leaders > h3 , .diamond-girls > h3 {
	line-height: 50px;
}
.no-padding {
	padding: 0px 0px 0px 0px !important;
}

/***** 4.- NEWS PAGE *******/

.filter-bar{
	margin-top: -20px;
	background-color: #fff;
	height: 610px;
	border-radius: 0px;
}
.filter-bar h2 {
	text-align: center;
}

.news-box {
	height: 750px;
	margin: -20px 0px 0px -30px;
	background-color: #fff;
}
.news-box > img {
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width: 90%;
}
.news-box:hover {
	background-color: #ECECEC;
}
.nosabias-box {
	height: 450px;
	margin: -20px 0px 0px -30px;
	background-color: #fff;
}
.nosabias-box > img {
	padding-bottom: 20px;
    padding-top: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width: 90%;
}
.nosabias-box:hover {
	background-color: #ECECEC;
}
.news-titles > h2, h3 {
	text-align: center;
	font-family: "norwesterregular";
}
.news-resume {
	font-size: 14px;
	text-align: center;
	margin: 0px 20px 0px 20px;
}


/***** .- DON'T KNOW *******/

.info-title {
	background-color: #CC215D;
	margin-top: 0px;
	padding: 10px 10px 10px 10px;
	width: 102.8%;
	margin-left: -15px;

	color: #fff;
	font-weight: 200;
	text-align: center;

	font-family: "norwesterregular";
}
.info-container {
	margin-top: -10px;
	padding-bottom: 20px;
}
.info-box {
	background-color: #CFCFCF;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.info-box h3 {
	margin-top: 0px;
}
.player-photo {
	margin-top: 20px;
}
.player-name {
	font-size: 16px;
	color: #3F444A;
	text-align: center;
	margin-top: 10px;
}
.details-explorer {
	margin-bottom: 20px;
}

/***** .- FOOTERS *******/
footer{
	height: 175px;
	background-color: #3F444A;

	border-style: solid none none none;
	border-top: 3px solid #E7BF3A;; 
}

.contact , .about , .rss {
	margin-top: 25px;
	color: #fff;
	font-size: 18px;
}

.contact i {
	font-size: 24px;
	margin: 10px 0px 10px 0px;
}

.about h5 {
	font-weight: 400;
	letter-spacing: 2px;
}
.about p {
	color: #CCCCCC;
	font-size: 14px;
}

/***** .- BUTTONS *******/
.button {
	/* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    margin-top: 50px;
}
.button > a {
	text-decoration: none;
}
.yellow-btn {
	background: #E7BF3A;
	border: 1px solid #CFAA34;
	font-size: 14px;
	color: #fff;
	padding: 5px 20px 5px 20px;
	height: 40px;
}
.know-btn {
	margin-top: 0px;
	float: right;
}
.number-btn {
	background-color: #CFCFCF;
	padding: 10px 20px 10px 20px;
	border: 1px solid #979797;
	font-weight: 800;
	color: #3F444A;
}

.image-container {
	width: 100%;
}

.news-image {
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

.related-news {
	background-color: #000;
	
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
	.col-md-10 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.filter-bar {
		display: none;
	}
	.news-box {
		margin-top: 10px;
	}
	.white-title {
    	width: 120%;
	}
	.mobile-title {
		margin-right: -22px;
	}
}

@media (max-width: 767px) {
	.filter-bar {
		display: none;
	}
	.news-box {
		margin-top: 10px;
	}
}








